@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Light";
  src: local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Roboto-Regular"),
    url("./assets/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Roboto-Medium"),
    url("./assets/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("Overpass-Bold"),
    url("./assets/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Black";
  src: local("Roboto-Black"),
    url("./assets/Roboto-Black.ttf") format("truetype");
}
